{% import 'macros.html' as macros with context %}

{% extends "base.html" %}

{% block title %}{{ map_id }}{% endblock %}

{% block content %}
{% set map_data = maps[map_id] %}
<h1>Map - {{ map_id }}</h1>

<p>Located in <a href="{{ make_url('map_sections/' + map_data['region_map_section'] + '.html') }}">{{ region_map_sections[map_data["region_map_section"]]["name"] }}</a></p>

<img src="{{ make_url('images/region_map_sections/' + map_data['region_map_section'] + '.png') }}">

{% if map_data['connections'] != None and map_data['connections']|length > 0 %}
  <h2>Overworld Connections</h2>
  <ul>
  {% for connection in map_data['connections'] %}
    <li>Connects {{ connection['direction'] }} to <a href="{{ make_url('maps/' + connection['map'] + '.html') }}">{{ connection['map'] }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if map_data['warp_events'] != None and map_data['warp_events']|length > 0 %}
  <h2>Warp Connections</h2>
  <ul>
  {% for dest_map in map_data['warp_events']|map(attribute='dest_map')|unique %}
    <li>Warps to <a href="{{ make_url('maps/' + dest_map + '.html') }}">{{ dest_map }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if map_id in map_encounters %}
{% set encounters = map_encounters[map_id] %}
  <h2>Wild Pokémon</h2>
  {% if 'land_mons' in encounters %}
    <h3>Walking</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['land_mons'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['land_mons'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if 'water_mons' in encounters %}
    <h3>Surfing</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['water_mons'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['water_mons'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if 'rock_smash_mons' in encounters %}
    <h3>Rock Smash</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['rock_smash_mons'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['rock_smash_mons'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if 'fishing_mons' in encounters and 'old_rod' in encounters['fishing_mons'] %}
    <h3>Fishing - Old Rod</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['fishing_mons']['old_rod'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['fishing_mons']['old_rod'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if 'fishing_mons' in encounters and 'good_rod' in encounters['fishing_mons'] %}
    <h3>Fishing - Good Rod</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['fishing_mons']['good_rod'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['fishing_mons']['good_rod'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if 'fishing_mons' in encounters and 'super_rod' in encounters['fishing_mons'] %}
    <h3>Fishing - Super Rod</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Species</th>
          <th>Type(s)</th>
          <th>Chance</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        {% for species_id in encounters['fishing_mons']['super_rod'] %}
        {% set species = id_to_species[species_id] %}
        {% set national_num = species_to_national[species] %}
        {% set summary = encounters['fishing_mons']['super_rod'][species_id] %}
          <tr>
            {{ macros.mon_table_entry_standard(national_num) }}
            <td>{{ summary['encounter_chance'] }}%</td>
            <td>{{ summary['min_level'] }}</td>
            <td>{{ summary['max_level'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}

{% endblock %}
