{% extends "base.html" %}

{% block title %}{{ mon_species_names[species] }}{% endblock %}

{% block content %}
<h1>#{{ national_num }} - {{ mon_species_names[species] }}</h1>

<img src="{{ make_url('images/pokemon/' + national_num + '_front.png') }}">
<img src="{{ make_url('images/pokemon/' + national_num + '_back.png') }}">
<img src="{{ make_url('images/pokemon/' + national_num + '_icon.png') }}">
<br>
<img src="{{ make_url('images/pokemon/' + national_num + '_front_shiny.png') }}">
<img src="{{ make_url('images/pokemon/' + national_num + '_back_shiny.png') }}">
<p><em>{{ mon_dex_entries[national_num].description.replace("\\n", " ") }}</em></p>

<table>
  <thead>
    <tr>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Category</td>
        <td>{{ mon_dex_entries[national_num].categoryName }}</td>
    </tr>
    <tr>
      <td>Type(s)</td>
      {% set type1 = mon_base_stats[species].type1 %}
      {% set type2 = mon_base_stats[species].type2 %}
      <td><a href="{{ make_url('types/' + type1 + '.html') }}">{{ type_names[type1] }}</a>{% if type2 != type1 %} / <a href="{{ make_url('types/' + type2 + '.html') }}">{{ type_names[type2] }}</a>{% endif %}</td>
    </tr>
    <tr>
      <td>Abilities</td>
      {% set ability1 = mon_base_stats[species].abilities[0] %}
      {% set ability2 = mon_base_stats[species].abilities[1] %}
      <td ><a href="{{ make_url('abilities/' + ability1 + '.html') }}">{{ ability_names[ability1] }}</a>{% if ability2 != "0" %} / <a href="{{ make_url('abilities/' + ability2 + '.html') }}">{{ ability_names[ability2] }}</a>{% endif %}</td>
    </tr>
    <tr>
      <td>Catch Rate</td>
      <td>{{ mon_base_stats[species].catchRate }}</td>
    </tr>
    <tr>
      <td>Exp. Yield</td>
      <td>{{ mon_base_stats[species].expYield }}</td>
    </tr>
    <tr>
      <td>EV Yield</td>
      <td>
        {%if mon_base_stats[species].evYield_HP != "0" %}{{ mon_base_stats[species].evYield_HP }} HP{% endif %}
        {%if mon_base_stats[species].evYield_Attack != "0" %}{{ mon_base_stats[species].evYield_Attack }} Atk{% endif %}
        {%if mon_base_stats[species].evYield_Defense != "0" %}{{ mon_base_stats[species].evYield_Defense }} Def{% endif %}
        {%if mon_base_stats[species].evYield_SpAttack != "0" %}{{ mon_base_stats[species].evYield_SpAttack }} Sp.Atk{% endif %}
        {%if mon_base_stats[species].evYield_SpDefense != "0" %}{{ mon_base_stats[species].evYield_SpDefense }} Sp.Def{% endif %}
        {%if mon_base_stats[species].evYield_Speed != "0" %}{{ mon_base_stats[species].evYield_Speed }} Speed{% endif %}
      </td>
    </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th>Evolutions</th>
    </tr>
  </thead>
  <tbody>
    {% if species not in evolution_map %}
    <tr>
      <td colspan="2">None</td>
    </tr>
    {% else %}
    {% for evo in evolution_map[species]['from'] %}
    <tr>
      <td>Evolves From</td>
      <td>
        <a href="{{ make_url('pokedex/' + species_to_national[evo['species']] + '.html') }}">
          {{ mon_species_names[evo['species']] }}
        </a>
      </td>
    </tr>
    {% endfor %}
    {% for evo in evolution_map[species]['to'] %}
    <tr>
      <td>Evolves Into</td>
      <td>
        <a href="{{ make_url('pokedex/' + species_to_national[evo['species']] + '.html') }}">
          {{ mon_species_names[evo['species']] }}
        </a>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th>Base Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HP</td>
      <td>{{ mon_base_stats[species].baseHP }}</td>
    </tr>
    <tr>
      <td>Attack</td>
      <td>{{ mon_base_stats[species].baseAttack }}</td>
    </tr>
    <tr>
      <td>Defense</td>
      <td>{{ mon_base_stats[species].baseDefense }}</td>
    </tr>
    <tr>
      <td>Sp. Attack</td>
      <td>{{ mon_base_stats[species].baseSpAttack }}</td>
    </tr>
    <tr>
      <td>Sp. Defense</td>
      <td>{{ mon_base_stats[species].baseSpDefense }}</td>
    </tr>
    <tr>
      <td>Speed</td>
      <td>{{ mon_base_stats[species].baseSpeed }}</td>
    </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th colspan="2">Learnset by Leveling Up</th>
    </tr>
  </thead>
  <tbody>
    {% for item in mon_learnsets[species] %}
    <tr>
      <td>{{ item["level"] }}</td>
      <td><a href="{{ make_url('moves/' + item['move'] + '.html') }}">{{ move_names[item['move']] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th colspan="2">Learnset by TM/HM</th>
    </tr>
  </thead>
  <tbody>
    {% for item in mon_tmhm_learnsets[species] %}
    {% set move = item_to_move[item] %}
    <tr>
      <td>{{ items[item]['name'] }}</td>
      <td><a href="{{ make_url('moves/' + move + '.html') }}">{{ move_names[move] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% if species in mon_egg_moves %}
<table>
  <thead>
    <tr>
      <th colspan="2">Egg Moves</th>
    </tr>
  </thead>
  <tbody>
    {% for move in mon_egg_moves[species] %}
    <tr>
      <td><a href="{{ make_url('moves/' + move + '.html') }}">{{ move_names[move] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
