{% extends "base.html" %}

{% block title %}{{ move_names[move] }}{% endblock %}

{% block content %}
<h1>Move - {{ move_names[move] }}</h1>

<p><em>{{ move_descriptions.get(move, '').replace("\\n", " ") }}</em></p>
{% if move in move_to_item %}
<p>{{ move_names[move] }} is {{ items[move_to_item[move]]['name'] }}.</p>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Move Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% set type = moves[move]['type'] %}
      <td>Type</td>
      <td><a href="{{ make_url('types/' + type + '.html') }}">{{ type_names[type] }}</a></td>
    </tr>
    <tr>
      <td>Power</td>
      <td>{{ moves[move]['power'] }}</td>
    </tr>
    <tr>
      <td>Accuracy</td>
      <td>{{ moves[move]['accuracy'] }}</td>
    </tr>
    <tr>
      <td>PP</td>
      <td>{{ moves[move]['pp'] }}</td>
    </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th colspan="3">Pokémon that learn {{ move_names[move] }} by Leveling Up</th>
    </tr>
  </thead>
  <tbody>
    {% for item in levelup_move_mons[move] %}
    {% set national_num = item['national_num'] %}
    {% set species = national_to_species[national_num] %}
    {% set level = item['level'] %}
    <tr>
      <td>#{{ national_num }}</td>
      <td><a href="{{ make_url('pokedex/' + national_num + '.html') }}">{{ mon_species_names[species] }}</a></td>
      <td>at level {{ level }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% if move in tmhm_move_mons %}
<table>
  <thead>
    <tr>
      <th colspan="2">Pokémon that learn {{ move_names[move] }} by TM/HM</th>
    </tr>
  </thead>
  <tbody>
    {% for national_num in tmhm_move_mons[move] %}
    {% set species = national_to_species[national_num] %}
    <tr>
      <td>#{{ national_num }}</td>
      <td><a href="{{ make_url('pokedex/' + national_num + '.html') }}">{{ mon_species_names[species] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if move in egg_move_mons %}
<table>
  <thead>
    <tr>
      <th colspan="2">Pokémon that learn {{ move_names[move] }} as an Egg Move</th>
    </tr>
  </thead>
  <tbody>
    {% for national_num in egg_move_mons[move] %}
    {% set species = national_to_species[national_num] %}
    <tr>
      <td>#{{ national_num }}</td>
      <td><a href="{{ make_url('pokedex/' + national_num + '.html') }}">{{ mon_species_names[species] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
