{% extends "base.html" %}

{% block title %}Pokédex{% endblock %}

{% block content %}
<h1>Pokédex</h1>
<table>
  <thead>
    <tr>
      <th colspan="3">Pokédex</th>
    </tr>
  </thead>
  <tbody>
  {% for national_num in national_dex_numbers %}
    {% set species = national_to_species[national_num] %}
    <tr>
      <td>{{ national_num }}</td>
      <td><a href="{{ make_url('pokedex/' + national_num + '.html') }}">{{ mon_species_names[species] }}</a></td>
      <td>{{ type_names[mon_base_stats[species].type1] }}{% if mon_base_stats[species].type2 != mon_base_stats[species].type1 %} / {{ type_names[mon_base_stats[species].type2] }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
