{% import 'macros.html' as macros with context %}

{% extends "base.html" %}

{% block title %}{{ type_names[type_id] }}{% endblock %}

{% block content %}
<h1>{{ type_names[type_id] }} Type</h1>

<h2>{{ type_names[type_id] }} Pokémon</h2>
<table>
  <tbody>
    {% for national_num in type_mons_map[type_id] %}
      <tr>
        {{ macros.mon_table_entry_standard(national_num) }}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>{{ type_names[type_id] }} Moves</h2>
<table>
  <thead>
    <tr>
      <th>Move</th>
      <th>Type</th>
      <th>Power</th>
      <th>Accuracy</th>
      <th>PP</th>
    </tr>
  </thead>
  <tbody>
    {% for move in type_moves_map[type_id] %}
    <tr>
      {{ macros.move_table_entry_standard(move) }}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
